.top-section {
    padding: 129px 0 30px;

    &__title {
        color: $colorWhite;
        font-size: 38px;
        line-height: 46px;
        max-width: 417px;
        margin: 0 auto;
        padding: 0 0 157px 30px;
        text-align: center;
    }

    &__scroll-link {
        display: block;
        margin: auto;
        width: 42px;

        .path {
            transition-duration: 300ms;
            transition-property: all;
        }

        &:hover .path {
            fill: $colorAccent;
        }
    }
}

@media (min-width: 768px) {
    .top-section {
        padding: 270px 0 30px;

        &__title {
            padding: 0 0 417px 0;
            max-width: none;
        }
    }
}

@media (min-width: 992px) {
    .top-section {
        padding: 246px 0 30px;

        &__title {
            padding: 0 0 289px 0;
        }
    }
}

@media (min-width: 1200px) {
    .top-section {
        padding: 262px 0 30px;

        &__title {
            padding: 0 0 305px 0;
        }
    }
}
